/* Relative to its original position */
.relative {
    background-color: orange;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
}

/* Relative to its container */
.absolute {
    background-color: blueviolet;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Relative to the viewport */
.fixed {
    background-color: aqua;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.sticky {
    background-color: cadetblue;
    position: sticky;
    top: 0;
}