/* Relative Positioning */
.relative {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: cadetblue;
}


/* Absolute Positioning */
.absolute {
    position: absolute;
    background-color: pink;
    bottom: 0px;
    right: 20px;
}


/* Fixed Positioning */
.fixed {
    position: fixed;
    background-color: rgb(238, 238, 126);
    bottom: 0px;
    right: 0px;
}

/* Sticky Positioning */
.sticky {
    position: sticky;
    background-color: burlywood;
    top: 0px;
    left: 0px;
}

