/* .flexContainer {
    display: flex;
    flex-wrap: wrap;
} */


.flexContainer {
    display: flex;
}

/* Willingness to grow */
.flexItem1 {
    flex-grow: 1;
}

.flexItem2 {
    flex-grow: 2;
}

.flexItem3 {
    flex-grow: 0;
}


/* Willingness to shrink */
.flexItem1 {
    flex-shrink: 1;
}

.flexItem2 {
    flex-shrink: 0;
}

.flexItem3 {
    flex-shrink: 2;
}

